<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="data:local" value="..\..\..\F1Data\Data\"/>
    <add key="date:inicial" value="01/01/1950"/>
    <add key="date:birth" value="01/01/1890"/>
  </appSettings>
</configuration>